* {
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    font-size: 15%;
    border-bottom: 1px solid #CFCFCF;
}

.wrapper {
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    margin: 1%;
}
