* {
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    font-size: 15%;
    border-bottom: 1px solid #CFCFCF;
    margin-bottom: 4%;
}

.wrapper {
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    margin: 1%;
    display: flex;
}

.img {
    width: 30%;
    border: 1px solid #AAFFAA;
    border-radius: 15px;
}

.desc {
    width: 70%;
    border: 1px solid #FFAAFF;
    border-radius: 15px;
}

.title {
    border: 1px solid #FF00FF;
    border-radius: 15px;
}

.under {
    display: flex;
}

.category {
    width: 50%;
    border: 1px solid #00FFFF;
}

.date {
    width: 50%;
    border: 1px solid #FFFF00;
}

.menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #b6d8ee;
    z-index: 999;
    display: flex;
}

.btn {
    border: 1px solid #CFCFCF;
    background-color: #CFCFCF;
    border-radius: 30px;
    text-align: center;
}

.menu .btn {
    width: 14%;
    margin: 2%;

}

.add .btn {
    width: 14%;
    margin: 4% 43% 4% 43%;
}

.materials .btn {
    width: 14%;
    margin: 4% 43% 4% 43%;
}

.materials {
    border: 1px solid #C1C1C1;
    margin: 2%;
    padding: 2%;
}
