.day {
    border: 1px solid #CCCCCC;
    width: 100%;

    overflow: auto;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 100px;
    text-align: right;
}


